openapi: "3.0.0"
info:
  description: ""
  version: "0.1.0"
  title: "liquide bleiben"
  termsOfService: ""
  contact:
    email: "wir-bleiben-liquide@gmail.com"
  license:
    name: ""
    url: ""
servers:
  - url: "http://wir-bleiben-liqui.de"
    description: "Production server"
paths:
  /api/ids:
    get:
      summary: "Get all ids of available offers"
      operationId: "getIds" 
      parameters:
      - $ref: "#/components/parameters/state"
      - $ref: "#/components/parameters/trade"
      - $ref: "#/components/parameters/age"
      - $ref: "#/components/parameters/legal"
      - $ref: "#/components/parameters/sales"
      - $ref: "#/components/parameters/employees"
      - $ref: "#/components/parameters/time"     
      responses:
        200:
          description: "Succesful"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /api/offers:
    get:
      summary: "Get all available offers"
      operationId: "getOffers"
      parameters:
      - $ref: "#/components/parameters/state"
      - $ref: "#/components/parameters/trade"
      - $ref: "#/components/parameters/age"
      - $ref: "#/components/parameters/legal"
      - $ref: "#/components/parameters/sales"
      - $ref: "#/components/parameters/employees"
      - $ref: "#/components/parameters/time"
      responses:
        200:
          description: "Succesful"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/offers-response"
components:
  parameters:
    state:
      in: "query"
      name: "state"
      description: "german state the company is located in"
      required: false
      schema:
        type: string
    trade:
      in: "query"
      name: "trade"
      description: "trade of the company"
      required: false
      schema:
        type: string
    age:
      in: "query"
      name: "age"
      description: "age of the company in years"
      required: false
      schema:
        type: integer
    legal:
      in: "query"
      name: "legal"
      description: "legal form of the company"
      required: false
      schema:
        type: string
    sales:
      in: "query"
      name: "sales"
      description: "last years sales of the company"
      required: false
      schema:
        type: string
    employees:
      in: "query"
      name: "employees"
      description: "employees of the company"
      required: false
      schema:
        type: integer
    time:
      in: "query"
      name: "time"
      description: "german state the company is located in"
      required: false
      schema:
        type: string
        enum: [ '0', '1' ]
  schemas:
    offers-response:
      type: "object"
      properties:
        columns:
          type: "array"
          items:
            type: string
        offers:
          type: "array"
          items:
            type: "object"
externalDocs:
  description: ""
  url: ""