#app {
  --primary: #00ecd9;
  --dark-primary: #027e6c;

  --secondary: #007d8c;
  --dark-secondary: #006672;
  --darkest-secondary: #005761;

  --light-brown: #fffdf9;
  --brown: #f9f6f2;
  --dark-brown: #f1eae0;

  --white: white;

  --lightest-grey: #f9f9f9;
  --light-grey: #d9d9d9;
  --grey: #9b9b9b;
  --dark-grey: #5e5e5e;

  --black: #000;
}
